[submodule "site/qruqsp-mods/core"]
	path = site/qruqsp-mods/core
	url = git://github.com/qruqsp/core.git
[submodule "site/qruqsp-mods/images"]
	path = site/qruqsp-mods/images
	url = git://github.com/qruqsp/images.git
[submodule "site/qruqsp-mods/bugs"]
	path = site/qruqsp-mods/bugs
	url = git://github.com/qruqsp/bugs.git
[submodule "site/qruqsp-mods/admin"]
	path = site/qruqsp-mods/admin
	url = git://github.com/qruqsp/admin.git
[submodule "site/qruqsp-mods/qsl"]
	path = site/qruqsp-mods/qsl
	url = git://github.com/qruqsp/qsl.git
[submodule "site/qruqsp-mods/aprs"]
	path = site/qruqsp-mods/aprs
	url = git://github.com/qruqsp/aprs.git
